@page "/event/{Id:guid}"
@using RegistrationSystem.Utils;
@using RegistrationSystemDataLayer.Interface;
@inject IEventService EventService;
@inject IParticipantService ParticipantService;
@inject IPaymentMethodService PaymentMethodService;
@inject IParticipantInEventService ParticipantInEventService;
@inject NavigationManager NavigationManager
@inject EventUtils eventUtil
@inject ValidationUtil valUtil

<PageTitle>Event</PageTitle>
<div class="container justify-content-center">
    <SubBanner Title="Osavõtjad"/>
    <div class="row justify-content-center main-row">
        <div class="col">
            <table>
                <thead>
                    <tr>
                        <th colspan="2">
                            <h3>Osavõtjad</h3>
                        </th>
                    </tr>
                </thead>
                <tbody style="background-color: white;">
                    <tr>
                        <td>Ürituse nimi:</td>
                        <td>@EventOb.Name</td>
                    </tr>
                    <tr>
                        <td>Kuupäev:</td>
                        <td>@EventOb.Date</td>
                    </tr>
                    <tr>
                        <td>Asukoht:</td>
                        <td>@EventOb.Location</td>
                    </tr>
                    <tr>
                        <td>Osavõtjate arv:</td>
                        <td>@numberOfParticipants</td>
                    </tr>
                    @if (EventOb.Notes != null && EventOb.Notes.Length > 0)
                    {
                        <tr>
                            <td>Lisa Info: </td>
                            <td>@EventOb.Notes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center main-row">
        <div class="col">
            <table>
                <thead style="background-color: white; text-align:center;">
                    <tr>
                        <th>Osavõtjad:</th>
                    </tr>
                </thead>
                <tbody style="background-color: white;">
                    <ParticipantList OnParticipantRemoved="ParticipantDeleted" participantInEvents="ParticipantInEvents" />
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center main-row">
        <div class="col">
            <span>Loo uus osaleja? </span>
            <input type="checkbox" @bind="AddNewParticipant" />
        </div>
    </div>
    <div class="row justify-content-center main-row">
        <div class="col">
            @if (AddNewParticipant)
            {
                <h3>Uue osavõtja loomine</h3>
                <EditForm Model="Participant">
                    <table>
                        <tbody style="background-color: white;">
                            <tr>
                                <td><span>Oled Ettevõte? </span></td>
                                <td><InputCheckbox @bind-Value="RegisterCompany"></InputCheckbox></td>
                            </tr>
                            <tr>
                                <td><span>Nimi: </span></td>
                                <td>
                                    <InputText id="name" @bind-Value="Participant.Name" />
                                </td>
                            </tr>
                            @if (!RegisterCompany)
                            {
                                <tr>
                                    <td><span>Perenimi: </span></td>
                                    <td>
                                        <InputText id="familyName" @bind-Value="Participant.FamilyName" />
                                    </td>
                                </tr>
                                <tr>
                                    <td><span>Isikukood: </span></td>
                                    <td>
                                        <InputText id="id" @bind-Value="Participant.IdCode" />
                                    </td>
                                </tr>
                            }
                            @if (RegisterCompany)
                            {
                                <tr>
                                    <td><span>Ettevõtte registrikood: </span></td>
                                    <td>
                                        <InputText id="code" @bind-Value="Participant.RegistryCode" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </EditForm>
                <EditForm Model="ParticipantInEvent" OnSubmit="SaveParticipant">
                    <table>
                        <tbody style="background-color: white;">
                            <tr>
                                <td><span>Maksmisviis </span></td>
                                <td>
                                    <select class="form-select" @bind="ParticipantInEvent.PaymentMethodId">
                                        @foreach (var method in PaymentMethods)
                                        {
                                            <option value="@method.Id">@method.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            @if (RegisterCompany)
                            {
                                <tr>
                                    <td><span>Osalejate arv: </span></td>
                                    <td>
                                        <InputNumber id="numberOfParticipants" @bind-Value="ParticipantInEvent.ParticipantCount" />
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>lisa info: </td>
                                <InputTextArea @bind-Value="ParticipantInEvent.Notes" />
                            </tr>
                            <tr>
                                <td><button class="btn-outline-danger" @onclick="BackToLanding">Tagasi</button></td>
                                <td><button class="btn btn-primary" type="submit">Lisa</button></td>
                            </tr>
                        </tbody>
                    </table>
                </EditForm>

            }
            else
            {
                <h3>Osavõtjate lisamine</h3>
                <EditForm Model="ParticipantInEvent" OnSubmit="SaveEntry">
                    <table>
                        <tbody style="background-color: white;">
                            <tr>
                                <td><span>Osaleja </span></td>
                                <td>
                                    <select class="form-select" @bind="ParticipantInEvent.ParticipantId">
                                        @foreach (var par in Participants)
                                        {
                                            if (par.FamilyName != null)
                                            {
                                                <option value="@par.Id">@par.Name @par.FamilyName</option>
                                            }
                                            else
                                            {
                                                <option value="@par.Id">@par.Name</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Maksmisviis </span></td>
                                <td>
                                    <select class="form-select" @bind="ParticipantInEvent.PaymentMethodId">
                                        @foreach (var method in PaymentMethods)
                                        {
                                            <option value="@method.Id">@method.Name</option>
                                        }
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td><span>Osalejate arv: </span></td>
                                <td>
                                    <InputNumber id="numberOfParticipants" @bind-Value="ParticipantInEvent.ParticipantCount" />
                                </td>
                            </tr>
                            <tr>
                                <td>lisa info: </td>
                                <InputTextArea @bind-Value="ParticipantInEvent.Notes" />
                            </tr>
                            <tr>
                                <td><button class="btn-outline-danger" @onclick="BackToLanding">Tagasi</button></td>
                                <td><button class="btn btn-primary" type="submit">Lisa</button></td>
                            </tr>
                        </tbody>
                    </table>
                </EditForm>
            }
        </div>
    </div>
    <Footer />
</div>
